<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4"/>
    <sources>
      <source name="ExcelDna.IntelliSense" switchValue="Off">
        <listeners>
          <!--<remove name="Default" />-->
          <add name="LogDisplay" type="ExcelDna.Logging.LogDisplayTraceListener,ExcelDna.Integration">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>
          <!-- <add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="ExcelDna.IntelliSense.log" >
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add> -->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>